@page "/"
@inject CarService CarService
@using CarBookingNew.Api
@using Data.Models

<h2 class="mb-4">Liste des voitures</h2>

<Filters OnFilter="ApplyFilter" />

@if (cars == null)
{
    <div class="alert alert-info">Chargement...</div>
}
else
{
    <div class="row">
        @foreach (var car in cars)
        {
            <div class="col-md-4">
                <CarCard Car="car" OnToggle="ToggleReservation" />
            </div>
        }
    </div>
}

@code {
    private List<Car>? cars;

    protected override async Task OnInitializedAsync()
    {
        cars = await CarService.GetAllCarsAsync();
    }

    private async Task ToggleReservation(int carId)
    {
        await CarService.ToggleReservationAsync(carId);
        cars = await CarService.GetAllCarsAsync();
    }

    private async Task ApplyFilter(CarFilter filter)
    {
        cars = await CarService.FilterCarsAsync(
            filter.Couleur,
            filter.Carburant,
            filter.Places,
            filter.Modele
        );
    }
}
